:root{
  --font-family: sans-serif;
  --blue: #0084FD;
  --light-blue: #B5DDFF;
  --lille: #9792E4;
  --yellow: #FDC15F;
  --dark-gray: #303030;
  --gray: #5A6E7F;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans', sans-serif;
}

img{
  width: 100%;
}

.color-body-white{
  background-color: white;
}

.color-body-lille{
  background-color: #9792E4;
}

.container{
  margin: 0 auto;
  width: 90%;
  padding: 30px 0;
}

.card{
  width: 100%;
  background-color: white;
  margin: 20px 0;
  border-radius: 40px;
  text-align: center;
}

button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 8px 15px;
}

/* HEADER */
header{
  background-color: var(--blue);
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: none;
}

.menu ul{
  list-style: none;
  display: flex;
  align-items: center;
}

.menu ul li a{
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.hamburger{
  color: white;
  font-size: 1.5rem;
  padding: 10px
}

/* /HEADER */

/* MAIN  */

/* APP-CONTAINER */

.app-container .card{
  background-color: var(--light-blue);
  padding: 40px 40px 0 40px;
  color: var(--gray);
}
.app-container .card h3{
  color: var(--blue);
  margin-bottom: 40px;
  font-size: 1.9rem;
  margin-top: 20px;
}

.app-card div img{
  width: 80%;
}

.app-card  button{
  background-color: var(--blue);
  color: white;
  margin: 40px;
  width: 70%;
  padding: 15px;
  font-size: 1.2rem;
}

.fa-apple{
  margin-right: 20px;
}

.card span{
  font-size: 5rem;
  color: var(--blue);
}

.card p{
  padding-bottom: 40px;
}
/* /APP-CONTAINER */

/* STRATEGIC-CONTAINER */

.strategic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strategic{
  text-align: center;
}

.strategic img{
  padding: 20px;
}

.strategic h3{
  font-size: 2rem;
  color: white;
  margin: 40px auto;
}

.strategic p{
  color: white;
  margin-bottom: 20px;
}

.strategic-card{
  background-color: white;
  margin: 20px 10px;
}

.strategic-card img{
  width: 80%;
}

.strategic-card h5{
  font-size: 1.5rem;
  padding: 20px;
}

.strategic-card button{
  background-color: var(--lille);
  border-radius: 50%;
  margin-bottom: 20px;
  height: 40px;
}

/* /STRATEGIC-CONTAINER */

/* TESTIMONIAL-CONTAINER */

.intro-testimonial{
  text-align: center;
}

/* TESTIMONIAL-CONTAINER */

/* BENEFITS-CONTAINER */

.benefits-container .title-benefits h3{
  text-align: center;
}

.benefits-card{
  text-align: left;
}

/* BENEFITS-CONTAINER */

/* ABOUT-CONTAINER */

.card-about{
  background-color: yellow;
  text-align: left;
}

/* /ABOUT-CONTAINER */

/* FREE-CONTAAINER */

.free-container{
  text-align: center;
}

/* /FREE-CONTAAINER */

/* FOOTER */

footer{
  background-color: black;
}

.container-footer{
  color: wheat;
  text-align: center;
}

.footer-p{
  margin-bottom: 50px;
}

/* /FOOTER */

@media screen and (min-width:768px){
  .container{
    width: 720px;
  }


  .app-container{
    display: flex;
    flex-wrap: wrap;
  }

  .card{
    width: 31%;
    margin-left: 7px;
    margin-right: 7px;
  }

  .app-card{
    width: 64%;
    text-align: left;
  }

  .app-card button{
    margin-left: 0;
  }
  
  .strategic h3{
    font-size: 3.5rem;
    text-align: left;
  }

  .strategic p{
    text-align: left;
  }

  .strategic-container .strategic-card{
    width: 95%;
  }

  .testimonials-container .testimonial-card{
    width: 100%;
  }

  .container-card-benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits-card{
    width: 48%;
    margin-left: 7px;
    margin-right: 7px;
  }

  .about-container{
    display: flex;
    flex-direction: row;
  }
}


@media screen and (min-width:1200px){
  .container{
    width: 70%;
  }

  .hamburger{
    display: none;
  }

  .menu{
    display: block;
  }

  .app-container{
    display: flex;
    flex-wrap: wrap;
  }

  .card{
    width: 31%;
    margin-left: 7px;
    margin-right: 7px;
  }

  .app-card{
    width: 64%;
    display: flex;
    align-items: flex-end;
  }

  .app-card .app-img img{
    width: 120%;
  }

  .strategic-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .strategic{
    width: 100%;
  }

  .strategic-card{
    width: 80%;
  }

  .strategic-card img{
    width: 50%
  }

  .strategic-card p{
    text-align: center;
  }

  .testimonials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials-container .testimonial-card{
    width: 100%;
  }

  .benefits-container{
    display: flex;
    flex-direction: column;
  }

  .container-card-benefits{
    display: flex;
    flex-wrap: wrap;
  }

.about-container{
  display: flex;
  flex-direction: column;
}

.about-container{
  display: flex;
  flex-direction: row;
}
}